@media all and (max-width: 479px){
	#content .form-title, 
	#content form{
		width:85%;
	}
	#content .content-primary{
    	width: 100%;
	}
	#content .content-secondary{
    	width: 100%;
	}
}

@media all and (min-width: 480px){
	
	#content .form-title, 
	#content form{
		width:65%;
	}
	#content form div.bloc-bouton.controlPin .back ~ div {
    	font-weight: normal;
	    margin: 0 0 0 6%;
	    width: 30%;
	}
	#content .content-primary{
    	width: 75%;
	}
	#content .content-secondary{
    	width: 25%;
    	min-height: 520px;
    	position: relative;
	}
	#content .content-secondary .deconnexion{
	 	bottom: 0.5em;
	    position: absolute;
	    right: 0;
	}
	.grid .ui-listview {
	    padding: 0 1%;
	}
	.grid .ui-listview .ui-li {
	    float: left;
	    width: 48%;
	}
	.content-primary.grid .ui-listview .summary{
		margin-right: 1%;
	}
	.content-primary.grid .ui-listview .data{
		margin-right: 1%;
	}
}